<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <title>O2 test</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}" type="text/css">
    <script type="text/javascript"> </script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <script src="{% static 'js/jQuery.js' %}"></script>
{#    <script src="{% static 'js/EasePack.js' %}"></script>#}
    <script src="{% static 'js/TweenMax.js' %}"></script>
    <script src="{% static 'js/carousel.js' %}"></script>

    <link rel="icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">

</head>

<body>
{#<header>#}

{#    <h1>3D Carousel Using Tween Max.js &  jQuery</h1>#}
{#	<h3>A pen by <a href="https://www.twitter.com/johnblazek" target="_blank">@johnblazek</a></h3>#}
{#    <div id="fps">Framerate: 0/60 FPS</div>#}
{#</header>#}

{% include "hole/wrapper.html" %}
{% block content %}
{% endblock %}

<div id="container">
	<div id="contentContainer" class="trans3d">
	    <section id="carouselContainer" class="trans3d">
            <figure id="item1" class="carouselItem trans3d"><div class="carouselItemInner trans3d"><img src="{% static 'carousel/slide1.jpg' %}"></div></figure>
            <figure id="item2" class="carouselItem trans3d"><div class="carouselItemInner trans3d"><img src="{% static 'carousel/slide2.jpg' %}"></div></figure>
            <figure id="item3" class="carouselItem trans3d"><div class="carouselItemInner trans3d"><img src="{% static 'carousel/slide3.jpg' %}"></div></figure>
            <figure id="item4" class="carouselItem trans3d"><div class="carouselItemInner trans3d"><img src="{% static 'carousel/slide4.jpg' %}"></div></figure>
            <figure id="item5" class="carouselItem trans3d"><div class="carouselItemInner trans3d"><img src="{% static 'carousel/slide5.jpg' %}"></div></figure>
            <figure id="item6" class="carouselItem trans3d"><div class="carouselItemInner trans3d"><img src="{% static 'carousel/slide6.jpg' %}"></div></figure>
            <figure id="item7" class="carouselItem trans3d"><div class="carouselItemInner trans3d"><img src="{% static 'carousel/slide7.jpg' %}"></div></figure>
            <figure id="item8" class="carouselItem trans3d"><div class="carouselItemInner trans3d"><img src="{% static 'carousel/slide8.jpg' %}"></div></figure>
            <figure id="item9" class="carouselItem trans3d"><div class="carouselItemInner trans3d"><img src="{% static 'carousel/slide9.jpg' %}"></div></figure>
            <figure id="item10" class="carouselItem trans3d"><div class="carouselItemInner trans3d"><img src="{% static 'carousel/slide10.jpg' %}"></div></figure>
            <figure id="item11" class="carouselItem trans3d"><div class="carouselItemInner trans3d"><img src="{% static 'carousel/slide11.jpg' %}"></div></figure>
            <figure id="item12" class="carouselItem trans3d"><div class="carouselItemInner trans3d"><img src="{% static 'carousel/slide12.jpg' %}"></div></figure>
	    </section>
	</div>
</div>

<p align="center">Приятного просмотра</p>

</body>
</html>

