
{% block content %}
    {% load staticfiles %}

    <br>

        <div class="container" align="center">

            <img  src="../../../static/image/logo2.bmp" >
            <hr>
            <br>
            <a href="/" class="btn btn-outline-info">Главная страница</a>
            <a href="/reset_page" class="btn btn-outline-info">Переключения</a>
            <a href="/ie" class="btn btn-outline-info">Инструкции</a>
            <a href="/tax" class="btn btn-outline-info">Границы тарифных зон</a>
            <a href="/one_more" class="btn btn-outline-info">Галерея</a>
        </p>
        </div>

{% endblock %}